* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --text-color-black: #0a0a0a;
    --text-color-pink: #990243;
    --text-color-white: #f7f7f7;
    --text-color-darkblue: #087096;
    --bg-main-pink: #f590bc;
    --bg-main-blue: #7edaf7;
    --bg-main-orange: #f7b27e;
    --bg-main-violet: #bb83fc;

}

.navigation {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    top: 0;
    z-index: 10;

}
.logo {
    font-size: 25px;
    font-weight: bolder;
}
.active {
    color: var(--text-color-white);
}
nav {
    font-size: 20px;
    font-weight: bolder;
}
nav a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--text-color-black);
}
nav a:focus, nav a:hover, nav a:active {
    color: var(--text-color-white);
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.bg-home {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-pink);
    display: flex;
}
.text-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 200px 100px;
}
.main-title{
    font-size: 35px;
}
.main-subtitle{
    font-size: 25px;
    padding-top: 20px;
}
.img-content {
    width: 30%;
    margin: 200px 100px;
}
.img-content img {
    max-width: 500px;
    max-height: 400px;
}
.bg-store {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-blue);
}
.bg-my-books {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-orange);
}
.bg-bucket {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-violet);
}
.main-btn {
    width: 50%;
    margin: 20px auto;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(0.05turn, var(--bg-main-pink), var(--text-color-white), var(--bg-main-pink));
    cursor: pointer;
}
.main-btn:hover {
    box-shadow: 2px 2px;
}
.title-page-store {
    padding-top: 150px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: var(--text-color-darkblue);
}
.products-box {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 25px 25px 25px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.product-item {
    width: 300px;
    height: 300px;
    background-color: #087096;
}